
		 /* Regular */
@font-face {
  font-family:'Cornerstone';
  src: url('Cornerstone/Cornerstone.ttf');
  font-style:normal;
  font-weight:normal;
}


/* Regular */
@font-face {
  font-family:'BubbleGum';
  src: url('Bubble Gum Hand Written Font/BubbleGum.ttf');
  font-style:normal;
  font-weight:normal;
}


/* Regular */
@font-face {
  font-family:'Oswald-Light';
  src: url('oswald/Oswald-Light.ttf');
  font-style:normal;
  font-weight:normal;
}
/* Regular */
@font-face {
  font-family:'Oswald-Regular';
  src: url('oswald/Oswald-Regular.ttf');
  font-style:normal;
  font-weight:normal;
}


/* Regular */
@font-face {
  font-family:'Play-Regular';
  src: url('Play/Play-Regular.ttf');
  font-style:normal;
  font-weight:normal;
}

/* Regular */
@font-face {
  font-family:'Phenomena Bold';
  src: url('phenomena/Phenomena-Bold.otf');
  font-style:normal;
  font-weight:normal;
}

/* Regular */
@font-face {
  font-family:'Esphimere Light';
  src: url('Esphimere/Esphimere Light.otf');
  font-style:normal;
  font-weight:normal;
}

/* Regular */
@font-face {
  font-family:'Againts';
  src: url('againts/againts.ttf');
  font-style:normal;
  font-weight:normal;
}

/* Regular */
@font-face {
  font-family:'Decalotype';
  src: url('Decalotype-Black/Decalotype-Regular.ttf');
  font-style:normal;
  font-weight:normal;
}


/* Regular */
@font-face {
  font-family:'Maven Pro';
  src: url('maven-pro/MavenPro-Medium.ttf');
  font-style:normal;
  font-weight:normal;
}


/* Regular */
@font-face {
  font-family:'Brook Thin';
  src: url('Brook/Brook Thin.ttf');
  font-style:normal;
  font-weight:normal;
}